html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background: $bg-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-size: $base-font-size;
	color: $text-color;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;

	// @include breakpoint(sm) {
	// 	background-color: mistyrose;
	// }

	// @include breakpoint(md) {
	// 	background-color: lavender;
	// }

	// @include breakpoint(lg) {
	// 	background-color: wheat;
	// }

	// @include breakpoint(xl) {
	// 	background-color: azure;
	// }
}

// images
img {
	max-width: 100%;
	height: auto;
}

// punishment for empty links
a[href="#"] {
	cursor: not-allowed;
}

a {
	color: $pink;
}

// list resets
li {
	> ul,
	> ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

nav {
	ol,
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: $gray-darker;
}

.container {
    max-width: 68.5714285714rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

::selection {
    background: #c15683;
    color: #fff;
    text-shadow: none;
}